<section >
<div >
  <div layout="row"><br></div>
  <div layout="row">
    <div class="col-md-2">
      <div class="row">
        <form name="vm.form.channelForm" class="form-horizontal" ng-submit="vm.save(vm.form.channelForm.$valid)" novalidate>
          <fieldset>
            <div class="form-group" show-errors>
              <!--label class="control-label" for="name">Name</label-->
              <input name="name" type="text" ng-model="vm.channel.name" id="name" class="form-control" placeholder="Channel Name" required>
              <div ng-messages="vm.form.channelForm.name.$error" role="alert">
                <p class="help-block error-text" ng-message="required">Channel name is required.</p>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-default">{{vm.channel._id ? 'Update' : 'Create'}}</button>
            </div>
            <div ng-show="vm.error" class="text-danger">
              <strong ng-bind="vm.error"></strong>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="list-group" style="margin-left: -30px">
        <a data-ng-repeat="channel in vm.channels"
            ng-click="vm.select(channel)"
           class="list-group-item">
          <h4 class="list-group-item-heading" data-ng-bind="channel.name"></h4>
        </a>
      </div>
<!--data-ui-sref="channels.view({ channelId: channel._id })"-->
      <!-- LOOP OVER THE TODOS IN $scope.list -->
      <!--md-content class="row">
        <md-list>
               <md-subheader class="md-no-sticky">Channels</md-subheader>
               <md-list-item ng-click="select(channel)" class="md-2-line" ng-repeat="(index, channel) in vm.channels">
                  <div class="md-list-item-text compact">
                     <h3>{{channel.name}}</h3>
                  </div>
                        <md-divider ng-if="!$last"></md-divider>
               </md-list-item>
        </md-list>
      </md-content-->

    </div>
    <div class="col-md-8">
       <div ui-view="feeds"></div>
    </div>
  </div>
</div>
</section>
